.deleteme {

   float:right;
   clear:right;
}

@font-face{

    font-family: century-gothic;
    src:url("./fonts/century-gothic.ttf")
}

*{

    /* border:1px solid black; */
    
    margin:0;
    padding:0;
    letter-spacing: 1px;
    font-family: century-gothic;
    
}

a{

    text-decoration: none;
    color:#FFF;
}

a:hover{

    cursor: pointer;
}

.login-container{

    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:100vh;
    /* min-height: 675px; */
    background: #222a36;
    
    
    
}



.login-area{
    border-radius:5px;
    /* padding:20px 40px; */
    min-width:350px;
    max-width: 350px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 10px;
    background: #516B63;
    
    
}


.login-area *{

    margin-top: 10px;
    letter-spacing: 2px
}

.login-head-container{

    background: rgba(39,44,57,0.4);
    width: 100%;
    margin:0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius:5px 5px 0 0;
    
}

.login-head{

    font-size: 18px;
    font-weight: normal;
    letter-spacing: 2px;
    color: #FFF;
   
}

.login-foot{

    display:flex;
    flex-direction: column;
    align-items: center;
    color:#BCBDBE;
    /* border-bottom: 0.1em solid #808B96; */
}

.login-foot a{

    text-decoration: none;
    color:#40826E;
    padding:0 3px;
    font-weight: 500;
}

.footer-signup{

    display:flex;
    flex-direction:row; 
}

.login-foot p{

    margin-bottom: 3px;
    font-weight: 300;
}

.input-box{

    height:40px;
    background: #516B63;
    border:1px solid #516B63;
    padding:5px 10px;
    width:100%;
    color:#FFF;
    letter-spacing: 1px;
    border-bottom:1px solid gray;
}

.message{

    background: #222a36;
    border:none;
    border-bottom:1px solid gray;
}

.search{

    background: #222a36;
    border:none;
    border-bottom:1px solid gray; 
}

::placeholder {
    color: #FFF;
    opacity: 0.7; /* Firefox */
}

.login-button{

    background: #40826E;
    color:#FFF;
    border:none;
    width:100%;
    border-radius: 0 0 5px 5px;
    padding: 10px 10px;
    margin-top: 30px;
}

.sign-out{

    border-radius:0 0 5px 5px;
}

.signup{

    margin-top:1px;
    border-radius:0 0 5px 5px;
}
.login-button:hover{

    background: #448F78;
}

.input-container{

    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width:90%;
    
}

.main-container{

    height:100vh;
    /* min-height: 670px; */
    display:flex;
    flex-direction: row;
    background: #222a36;
}

.left-panel{

    flex:3;

    /* background: #516B63; */
}

.chat-container,.info-container{

    display: flex;
    flex:7;
    flex-direction: column;
    border-left:1px solid #394148
}

.info-container{

    background: #3b424e;
    justify-content: center;
    align-items: center;
    color:gray;
}



.header-container{

    flex:1;
}

.menu-container{
    display:flex;
    position: absolute;
    background:rgba(255,255,255,0.7);
    height:200px;
    width:150px;
    right:24px;
    top:45px; 
    border-radius:9px 0px 9px 9px;
    border:1px solid darkgray;
    /* z-index: 99; */
    /* box-shadow: green 1px 2px 3px; */

}

.menu-list{

    list-style-type: none;
    font-weight: bold;
   padding:10px;
   padding-right: 30px;
   
}

.menu-list li{

    
    padding:7px 0;
    
    /* margin:10px; */

}

.menu-list a{

    color:rgb(53, 52, 52);
    text-decoration: none;  
}

.menu-list a:hover{

    cursor: pointer;  
}

.top{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0 20px;
    padding-top: 20px;
    background: #516B63;
    color:#FFF;
    min-height:61px;
    /* box-shadow: darkslategray 1px 2px 3px; */
}

.top-right{

    display:flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 16px;
}

.top-right a{

    text-decoration: none;
    color:#FFF;
}

.top-left{

    margin:none;
    
}

.left{

    display:flex;
    flex-direction: column;
    color:#FFF;
    /* padding:10px; */
}

.chat-display-container{
   
    flex:8;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    /* justify-content: flex-end; */
    overflow-y: scroll;
   
}

.chat-display{
    
    /* padding :30px 40px; */
    /* justify-content: space-around;    */
    /* display:flex; */
    /* flex:1; */
    
}

.send-message-container{

    flex:1;
}

.send-button{

    height:45px;
    width:45px;
    align-self: flex-end;
    cursor: pointer;

}

.sign-out{

    cursor: pointer;
}

#error-user,#error-pass{

    display:none;
}

#error-msg{

    color:rgb(124,10,2);
    padding:7px;
    text-align: center;
    
}

.message-area{

    flex:0.1;
    display: flex;
    flex-direction:row;
}

.message-box-container{

    flex:9.5;
    padding : 10px 10px;
    display: flex;
    flex-direction: row;

}

.send-button-container{

    flex:0.5;
    display: flex;
    /* padding : 8px 2px; */
    background: #222a36;
}

.search-box-container{

    flex :0.5;
    display:flex;
    flex-direction: row;
    
    /* border:1px solid darkgrey; */
    border-radius:10px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    
}

.search-icon-container{

    padding:4px 0px;
    flex:1.1;
    display:flex;
    align-self: center;
    border-bottom:1px solid gray;
    margin-top: 6px;
}

.search-icon{

    height:17px;
    width:17px;
    
}

.search-txt-box{

    background: #FFF;
    border:none;
    height:30px;
    flex:8.9;
    color:#555;
    padding :6px 12px;
    font-size: 14px;
    border-radius:10px;
}

textarea:focus, input:focus{
    outline: none;
}

.user-list-container{

    display:flex;
    flex-direction: column;
    /* flex:8; */
    margin-top: 20px;
    background: #262e3a;
    overflow-y: scroll;    
    height: 400px;
    font-size: 12px;
    font-weight: normal    
}

.user-list{
    color:#FFF;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding:7px 20px;
    border-top:1px solid #394148;
    border-bottom:1px solid #394148;
    min-height:65px;
    cursor: pointer;
}

.user-list:hover{

    background: #282d35;
}

.user-list-heading{

  padding:0px 20px;
  padding-top: 15px;
  font-size: 20px;
  font-weight: bold;
  
}

.user-search-container{

    flex:2;
    padding:10px;
    margin-top:10px; 
}

.footer{

    flex:1;
    background: #222a36
}



.chat-message{
    display: flex;
    flex-direction: column;
    background: #0F7E92;
    color:#FFF;
    padding : 5px 15px;
    max-width: 750px;
    margin:17px;
    border-radius:10px 10px 0 10px;
}

.message-owner{

  align-self: flex-end;
  
}

.message-owner a{

    color: #06F5A5;
    font-weight: bold;
    font-size: 16px;
    padding : 5px 5px;
}   

@keyframes slide {
    /* 0%  {height:0px}
    10%  {height:7px}
    20%  {height:14px}
    30%  {height:21px}
    40%   {height:28px}
    50%  {height:35px}
    60%  {height:42px}
    70%  {height:49px}
    80%  {height:56px}
    90%  {height:63px}
    100% {height:70px}
      */
    from{opacity:0}
    to{opacity:1}
}

#menu-down{

    padding:5px;
}

#alert-container{

    position: absolute;
    display:none;
    flex-direction: row;
    background:blanchedalmond;
    padding:20px;
    border-radius: 6px;
    right:20px;
    top:100px;
    animation-name: slide;
    animation-duration: 0.4s;
    box-shadow: 3px 2px 7px black;
}

.alert-text{

    margin:0;
    color:#6D716D;
    padding-right:15px;
}

.close-alert{

    cursor: pointer
}

.loader{

    position: absolute;
    display:none;
    top:40vh;
    height:100px;
    width:100px;
    z-index:10;
}

.loader-visible{

    position: absolute;
    display:block;
    top:40vh;
    left:50vw;
    height:120px;
    width:120px;
    z-index:10;
}

.popup-main{

    position: absolute;
    display:flex;
    flex-direction: column;
    top:40vh;
    left:50%;
    min-height:200px;
    min-width:300px;
    padding:10px 20px;
    z-index:10;
    background: rgba(255,255,255,0.9);
    border-radius:3px;
    box-shadow: black 2px 4px 9px;
    
}

.popup-container{

    
    position: absolute;
    align-items: center;
    justify-content: center;
    height:100vh;
    width:100vw;
    z-index:5;
    /* min-height: 675px; */
    background:rgba(0,0,0,0.4);
}

.popup-content a{

    color:#40826E;
    text-decoration: none;
}

#error-user:hover{

    cursor: pointer;
}
#error-pass:hover{

    cursor: pointer;
}


